  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  html {
      scroll-behavior: smooth;
      font-size: 10px;
      font-family: sans-serif;
  }

  body {
      overflow-x: hidden;
  }

  /* top-bar */

  .top-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem 2.5rem;
      font-size: 1.5rem;
      background: rgb(53, 51, 51);
  }

  .top-bar span {
      color: whitesmoke;
  }

  .top-bar ul {
      list-style: none;
      display: flex;
  }

  .top-bar li {
      margin: 0rem 0.5rem;
  }




  /* ----------------------------------------------------------------------------- */
  /* navigation */
  nav {
      padding: 0.5rem 2rem;
      display: flex;
      align-items: center;
      box-shadow: -2px 13px 56px -18px rgba(170, 170, 170, 0.75);
      position: sticky;
      background-color: whitesmoke;
  }

  nav a {
      color: black;
  }

  nav a:hover {
      color: darkgray;
  }

  .logo {
      flex: 1;
  }

  .logo a {
      display: flex;
      align-items: center;
      font-size: 2rem;
      text-decoration: none;
  }

  .logo img {
      width: 8rem;
      margin-right: 0.5rem;
  }

  .menu {
      display: flex;
      align-items: center;
      list-style: none;
  }

  .menu li {
      padding: 1.5rem 1rem;
      font-size: 1.6rem;
  }

  .menu li a {
      text-decoration: none;
  }

  .toggle {
      font-size: 3rem;
      display: none;
  }

  .section {
      padding: 12rem 0;
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      min-height: 10vh;
      width: 100vw;
      overflow: hidden;
      align-items: center;
      flex-direction: row;
  }



  /* ----------------------------------------------------------------------------- */
  /* hero section */
  .hero {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      min-height: 10vh;
      width: 100vw;
      overflow: hidden;
      align-items: center;
      background-color: rgba(249, 246, 246, 0.991);

  }

  .hero .content {
      flex: 1 1 40rem;
      padding-top: 2rem;
      margin-top: 1.5rem;
      margin-left: 2rem;
  }

  .hero .content h6 {
      font-size: 2rem;
  }

  .hero .content h1 {
      font-size: 4rem;
      padding-top: 5rem;
  }

  .hero .content h2 {
      font-size: 4rem;
      border-bottom: 0.4rem dotted blue;
      width: 5%;
  }

  .blue {
      color: rgb(23, 48, 172);
  }

  .mainfont {
      font-family: "Jacques Francois Shadow", cursive;
  }

  .hero .content p {
      font-size: 1.7rem;
      color: black;
      padding: 1rem 0;
  }

  .btn {
      text-decoration: none;
      background: rgb(53, 51, 51);
      border: 0.2rem solid rgb(53, 51, 51);
      display: inline-block;
      padding: 0.8rem 3rem;
      color: white;
      cursor: pointer;
      font-size: 2rem;
      font-family: "Jacques Francois Shadow", cursive;
      border-radius: 0.5rem;
      position: relative;
      overflow: hidden;
      margin-top: 1rem;
      margin-left: 1rem;
      transition: 0.5s;
  }

  .btn:hover {
      background: rgb(23, 48, 172);
      color: whitesmoke;
      border: 0.2rem solid #2c5954;
      transform: scale(0.9);
      box-shadow: 0 10px 20px rgb(23, 48, 172);
  }

  .image {
      border: 4rem double rgb(23, 48, 172);
      border-radius: 76% 24% 84% 16% / 42% 49% 51% 58%;
  }



  /* ----------------------------------------------------------------------------- */
  /* section-1 */
  .section-1 {
      padding: 12rem 0;
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      min-height: 10vh;
      width: 100vw;
      overflow: hidden;
      align-items: center;
      flex-direction: row;
      min-height: 10vh;
  }

  .section-1 .content {
      flex: 1 1 40rem;
      padding-top: 2rem;
      margin-top: 1.5rem;
      margin-left: 2rem;
      font-family: "Jacques Francois Shadow", cursive;
  }

  .section-1 .content h2 {
      font-size: 4.5rem;
  }

  .section-1 .btn {
      text-decoration: none;
      background: rgb(53, 51, 51);
      border: 0.2rem solid rgb(53, 51, 51);
      display: inline-block;
      padding: 0.8rem 3rem;
      color: white;
      cursor: pointer;
      font-size: 2rem;
      font-family: "Jacques Francois Shadow", cursive;
      border-radius: 0.5rem;
      position: relative;
      overflow: hidden;
      margin-top: 1rem;
      margin-left: 1rem;
  }

  .section-1 .btn:hover {
      background: rgb(23, 48, 172);
      color: whitesmoke;
      border: 0.2rem solid #2c5954;
      transform: scale(0.9);
      box-shadow: 0 10px 20px rgb(23, 48, 172);
  }

  .section-1 li:hover {
      background-color: rgba(23, 48, 172, 0.927);
      color: darkgray;
  }

  .section-1 ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      list-style: none;
      text-align: center;
      margin-left: 10rem;
  }

  .section-1 ul li {
      height: 20rem;
      width: 90%;
      box-shadow: 1px -1px 21px -4px rgba(0, 0, 0, 0.75);
      border-radius: 1rem;
  }

  .section-1 ul li i {
      font-size: 8rem;
      padding-top: 1rem;
  }

  .section-1 ul li h4 {
      font-size: 2.5rem;
      padding-bottom: 1rem;
      padding-top: 1rem;
      font-family: Nunito Sans;
  }

  .section-1 ul li p {
      font-size: 1.2rem;
      font-weight: 333;
  }


  /* ----------------------------------------------------------------------------- */
  /* section-2 */
  .section-2 {
      padding: 12rem 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      min-height: 10vh;
      width: 100vw;
      background-color: rgba(249, 246, 246, 0.991);
  }

  .section-2 .content {
      margin-left: 3rem;
  }

  .section-2 .content h4 {
      font-size: 5rem;
      font-family: "Jacques Francois Shadow", cursive;
  }

  .section-2 .content p {
      font-size: 3rem;
      font-weight: 333;
  }

  .images {
      position: relative;
      margin-left: 3rem;
  }

  .images .img-1 {
      width: 75%;
      position: relative;
      top: 0;
      left: 0;
      border-radius: 2rem;
      filter: blur(1.5px);
  }

  .images .img-2 {
      width: 75%;
      position: absolute;
      top: 25px;
      left: 40px;
      border-radius: 2rem;
  }



  /* ----------------------------------------------------------------------------- */
  /* section-3 */
  .section-3 {
      display: flex;
      flex-direction: column;
  }

  .upper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 10rem;
  }

  .upper .content {
      font-size: 4rem;
      padding-left: 5rem;
  }

  .upper .content h4 {
      margin-bottom: 1rem;
  }

  .upper .para {
      height: 10vh;
      width: 45%;
      font-size: 2rem;
      font-weight: 100;
      padding-top: 10rem;
      padding-right: 5rem;
      color: rgb(134, 130, 130);
  }

  .lower {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 4rem 2rem 0 2rem;
  }

  .lower .box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
  }

  .lower .box .col {
      display: flex;
      flex-direction: column;
      width: 32.5%;
  }

  .lower .box .col img {
      width: 100%;
      padding-bottom: 0.4rem;
      padding-left: 0.3rem;
      border-radius: 0.5rem;
      height: 50%;
  }

  .lower .box .col img:hover {
      transform: scale(1.1);
      transition: 1.2s;
  }

  .btn-s2 {
      margin-top: 4rem;
      border-radius: 5rem;
      transition: 1.2s;
  }



  /* ----------------------------------------------------------------------------- */
  /* section-4 */
  .section-4 {
      padding: 10rem 0;
      min-height: 15rem;
      width: 100%;
      font-family: Nunito;
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 21%, rgba(23, 48, 172, 1) 82%, rgba(0, 212, 255, 1) 100%);
  }

  .section-4 .cont {
      display: flex;
      width: 100%;
      color: whitesmoke;
      justify-content: space-evenly;
  }

  .cont h2 {
      font-size: 4rem;
      text-align: center;
  }

  .cont p {
      font-size: 2rem;
  }




  /* ----------------------------------------------------------------------------- */
  /* section-5 */
  /* .section-5 {
      background-color: rgba(249, 246, 246, 0.991);
  }
  .section-5 .div1 {
      min-height: auto;
      margin-left: 1rem;
      width: 20%;
  }
  .div1 h4 {
    font-family: "Jacques Francois Shadow", cursive;
      font-size: 5rem;
  }
  .div1 p {
      font-size: 2rem;
      font-weight: 100;
      word-wrap: break-word;
      word-break:normal;
  }

  .div{
    min-height:45rem;
    width: 25%;
    border: 1px solid black;
    font-family: "Jacques Francois Shadow", cursive;
    text-align: center;
    border-radius: 2.2rem;
  }
  .div .t1{
    height: 5rem;
    width: 100%;
    background-color: green;
    border-radius: 2rem 2rem 0 0;
  }
  .div .t2{
    height: 2rem;
    width: 100%;
    background-color: green;
    border-radius: 10rem 10rem 0 0;
  } 
  .div ul li{
    list-style: none;
    margin: 1rem 0;
  }
  .div ul{
    padding-top: 3rem;
    font-size: 1.2rem;
  }
  .normal{
    font-size: 4.3rem;
    padding: 2rem 0; 

  }
  .big-text-area{
    font-size: 4rem;
  }
  .mid-lane{
    background-color: green;
    width: 100%;
    height: 10rem;
  }
  .super-small{
    font-size: 1rem;
    font-weight: 100;
    color: darkgray;
    padding-bottom: 4rem;
  } */

  /* section-6 */
  .section-6 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: Noto Sans Japanese;
      background: rgba(0, 0, 0, 0.75) url(Images/office.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-blend-mode: darken;
  }

  .section-6 h1 {
      font-size: 12rem;
  }

  .section-6 img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 5%;
      border-radius: 15rem;
  }

  .section-6 p {
      font-size: 2.5rem;
      font-family: monospace;
      width: 50%;
      color: whitesmoke;
  }

  .section-6 span {
      font-size: 2rem;
  }

  .section-6 h5 {
      font-size: 1.5rem;
      color: whitesmoke;
  }

  /* ----------------------------------------------------------------------------- */
  /* section-8 */
  .section-8 {
      padding: 12rem 0;
      gap: 1.5rem;
      min-height: 10vh;
      width: 100vw;
      overflow: hidden;
  }

  .section-8 .row-1 {
      display: grid;
      grid-template-columns: repeat(2, 4fr);
      padding: 0 5rem;
      gap: 2rem;
  }

  .section-8 .row-1 .col {
      height: 30rem;
      width: 100%;
      display: grid;
      place-items: center;
      border-radius: 2rem;
  }

  .section-8 .row-1 .col h4 {
      font-size: 4rem;
      color: whitesmoke;
      font-family: "Jacques Francois Shadow", cursive;
  }

  .section-8 .row-1 .col span {
      font-size: 2rem;
      font-weight: 300;
      color: darkgray;
  }

  .section-8 .row-1 .col-1 input {
      height: 5rem;
      width: 40rem;
      border-radius: 5rem;
      text-align: center;
      position: relative;
      top: 0;
      left: 0;
      background-color: transparent;
      color: darkgray;
  }

  .section-8 .row-1 .col-1 .input {
      position: relative;
      padding-bottom: 5rem;
  }

  .section-8 .row-1 .col-1 {
      background-color: #000000;
      background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  }

  .section-8 .row-1 .col-1 a {
      position: absolute;
      right: 0.1rem;
      border-radius: 5rem;
      height: 5rem;
      width: 10rem;
      padding: 1.5rem 2rem;
      font-size: 1.5rem;
      text-decoration: none;
      text-align: center;
      justify-content: center;
      background-color: transparent;
      color: darkgray;
  }

  .section-8 .row-1 .col-2 {
      background-color: rgba(23, 48, 172);
  }

  .section-8 .row-1 .col-2 a {
      margin-bottom: 4rem;
  }

  .section-8 .row-2 {
      display: grid;
      grid-template-columns: repeat(6, 2fr);
      padding: 10rem 12rem;
  }

  /* section-9 */
  .section-9 .container {
      max-width: 117rem;
      margin: auto;
  }

  ul {
      list-style: none;
  }

  .row {
      display: flex;
      flex-wrap: wrap;
  }

  .footer-up {
      background-color: rgba(249, 246, 246, 0.991);
      padding: 7rem 0;
  }

  .col {
      width: 23%;
      padding: 0 1.5rem;
      margin-left: 1.2rem;
  }

  .col h4 {
      font-size: 1.8rem;
      color: black;
      text-transform: capitalize;
      margin-bottom: 3.5rem;
      font-weight: 500;
  }

  .col p {
      font-size: 1.6rem;
      text-transform: capitalize;
      color: darkgray;
      font-weight: 300;
  }

  .col ul li:not(:nth-child(0), :last-child) {
      margin: 1rem 0;
  }

  .col ul li {
      font-size: 1.6rem;
      text-transform: capitalize;
      color: darkgray;
      text-decoration: none;
      font-weight: 300;
      display: block;
      transition: all 0.3s ease;
  }

  .col ul li a {
      font-size: 1.6rem;
      text-transform: capitalize;
      color: darkgray;
      text-decoration: none;
      font-weight: 300;
      display: block;
      transition: all 0.3s ease;
  }

  .col ul li a:hover {
      color: black;
      padding-left: 1rem;
  }

  /* ----------------------------------------------------------------------------- */


  /* footer */
  .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3rem 2.5rem;
      font-size: 1.5rem;
      background-color: #000000;
      background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  }

  .footer span {
      color: darkgray;
      font-size: 1.2rem;
      font-weight: 222;
  }

  .footer ul {
      list-style: none;
      display: flex;
  }

  .footer li {
      margin: 0rem 1rem;
  }

  .footer li i {
      color: darkgray;
  }


  .scrol-top {
      border-radius: 5rem;
      height: 4rem;
      width: 4rem;
      background-color: rgba(23, 48, 172);
      text-align: center;
      color: whitesmoke;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      right: 10%;
      bottom: 10%;
      cursor: pointer;
  }

  .scrol-top:hover {
      color: rgba(23, 48, 172);
      background-color: whitesmoke;
  }